<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Projects Website</title>
    </head>
    <body>
        {{> header}}
        <p>Projects Portfolio here</p>

        {{> footer}}
    </body>
</html>